  /* Novo Layout */

  body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F5F5F9;
    background-size: cover;
  }

  /* Marcações no sidebar*/
  .logo {
    width: 150px;
    /* Largura da logo */
    height: auto;
    /* Altura automática para manter a proporção */
  }
  .logo_cliente {
    width: 250px;
    /* Largura da logo */
    height: auto;
    /* Altura automática para manter a proporção */
  }

  .btn-menu {
    --bs-btn-color: #B92E2E;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #690909;
    --bs-btn-hover-bg: ;
    --bs-btn-hover-border-color: #e9116b;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #07519b;
    --bs-btn-disabled-border-color: #212529;
  }

  .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #fff;
    background-color: #440000;
    border-color: var(--bs-btn-active-border-color);
}

  .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #fff;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  }

  .dropdown-menu-dark {
    --bs-dropdown-color: #fff;
    --bs-dropdown-bg: #B92E2E;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-box-shadow: ;
    --bs-dropdown-link-color: #fff;
    --bs-dropdown-link-hover-color: #fff;
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-link-hover-bg: #fff;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #ffffff;
    --bs-dropdown-link-disabled-color: #ffffff;
    --bs-dropdown-header-color: #ffffff;
  }

  .nav-item {
    margin-right: 10px;
    /* Adiciona margem de 20px entre os botões */
  }

  .nav-item .btn {
    height: 50px;
    /* Define a altura dos botões como 50px */
    font-weight: 700 !important;
  }

  .nav-container {
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    /* Adiciona bordas arredondadas */
    background-color: #ffffff;
    /* Define o fundo como branco */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Adiciona sombra na parte inferior (drop-shadow) */
  }

  /* Marcação dos botões de logado*/
  .dropdown-toggle-icon {
    background: none;
    border: none;
    font-size: 36px;
    /* Tamanho do ícone */
    color: #B92E2E;
    /* Cor do ícone */
  }
  .dropdown-toggle-icon-desk {
    background: none;
    border: none;
    font-size: 36px;
    /* Tamanho do ícone */
    color: #fff;
    /* Cor do ícone */
  }
  .dropdown-toggle-icon-atendimento {
    background: none;
    border: none;
    font-size: 36px;
    /* Tamanho do ícone */
    color: #2A2B3F;
    /* Cor do ícone */
  }

  .dropdown-menu-dark {
    color: #fff;
  }

  /* Estilos personalizados para os dropdowns dentro de #rf_profile */
  #rf_profile .rf-profile-dropdown-menu {
    left: initial !important;
  }

  #rf_profile .rf-profile-link {
    display: flex;
    /* Usa flexbox */
    align-items: center;
    /* Alinha os itens verticalmente */

  }

  #rf_profile .rf-profile-content {
    display: flex;
    /* Usa flexbox */
    align-items: center;
    /* Alinha os itens verticalmente */
  }

  #rf_profile .dropdown-menu-dark {

    background-color: #B92E2E;
    /* Cor de fundo escura */
    color: #ffffff;
    /* Cor do texto branco */
  }

  #rf_profile .dropdown-menu-dark li.nav-item:hover,
  #rf_profile .dropdown-menu-dark li.nav-item>a:hover {
    background-color: #B92E2E;
    /* Cor de fundo escura */
  }

  #rf_profile .dropdown-menu-dark li.nav-item:hover>a.nav-link,
  #rf_profile .dropdown-menu-dark li.nav-item>a:hover {
    color: #ffffff;
    /* Cor do texto branco */
  }


  /*Marcações do Navgator*/

  .dd-fonte-navgator {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900 !important;
  }

  .dd-fonte-navgator-dashboard {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900 !important;
    color: #fff !important;
  }

  /*Container*/
  .card-container {
    margin: 30px;

    /* padding-top: 20px;
    padding-bottom: 20px; */
    /* border-radius: 10px; */
    border: none;
    /* Adiciona bordas arredondadas */
    background-color: #f5f5f9;
    /* Define o fundo como branco */
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    /* Adiciona sombra na parte inferior (drop-shadow) */
  }
  .card-container-desk{
    border: none;
    background-color: #f5f5f9;
  }
  .card-atendimento {
    margin: 20px;

    /* padding-top: 20px;
    padding-bottom: 20px; */
    /* border-radius: 10px; */
    border: none;
    /* Adiciona bordas arredondadas */
    background-color: #f5f5f9;
    /* Define o fundo como branco */
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    /* Adiciona sombra na parte inferior (drop-shadow) */
  }
  .card-tabela-atendimento {
   height: 70px;
   padding-top: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  }
  .table-atendimento{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }

  .navgator-container {
    margin-left: 20px;
    margin-right: 20px;
    height: 60px;

    /* padding-top: 20px;
  padding-bottom: 20px; */
    border-radius: 10px;
    color: #fff;
    border: none;
    /* Adiciona bordas arredondadas */
    background-color: #B92E2E;
    /* Define o fundo como branco */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);

  }

  .card-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    color: #B92E2E !important;
    /* Adiciona bordas arredondadas */
    background-color: #ffffff;
    /* Define o fundo como branco */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Adiciona sombra na parte inferior (drop-shadow) */
  }

  .card-filtro {
    margin: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  }

  .icone_filtro {
    font-size: 30px !important;
    color: #B92E2E !important;
  }

  .texto_filtro {
    font-size: 26px !important;
    color: #2A2B3F !important;
    padding-left: 20px;
  }

  .icone_kit {
    font-size: 24px !important;
    margin-left: 10px;
    color: #B92E2E !important;

  }

  .texto_kit {
    font-size: 24px !important;
    color: #2A2B3F !important;
    padding-left: 20px;

  }

  .texto_filtro_btn {
    font-size: 28px !important;
    color: #fff !important;
    padding-left: 20px;
    padding-right: 20px;

  }

  .btn-filtro {
    background: #B92E2E;
    border-color: transparent;
    color: #fff;
    width: 100%;



  }
  .btn-filtro, .btn:disabled {
    background-color: #922020;
    color: #fff;
  }

  .btn-modal {
    background: #B92E2E;
    border-color: transparent;
    color: #fff;

    padding-bottom: 13px;


  }

  .btn-filtro:hover {
    background-color: #922020;
    color: #fff;
    /* Cor de fundo quando o mouse passa sobre o botão */
  }

  .card-tabela {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  .card-tabela-desk {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: solid #2A2B3F 1px;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); */
  }

  .rf_bg_form .px-4.py-5 {
    padding: 0 !important;
    max-width: unset;
  }

  .rf_bg_form .px-4.py-5>.row {
    padding: 0 !important;
    gap: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .rf_bg_form .px-4.py-5>.row>.col {

    width: unset;
    border-radius: 8px;
    padding: 0;
    filter: drop-shadow(0px 10px 20px rgb(0 0 0 / 5%));
    border: 0;
    transition: .3s;
    margin-top: 20px;
    box-shadow: 0 15px 10px -10px rgb(0 0 0 / 10%);
  }

  .rf_bg_form .px-4.py-5>.row>.col h3 a i:before {
    font-size: 42px;
    color: var(--vermelho);
  }

  .rf_bg_form .px-4.py-5>.row>.col h3 a i {
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 20px;
    gap: 15px;
    flex-direction: column;
  }

  .rf_bg_form .px-4.py-5>.row>.col div {
    width: 100%;
  }

  .rf_bg_form .px-4.py-5>.row>.col:hover {
    background: var(--branco);
  }

  .rf_bg_form .px-4.py-5>.row>.col h3 a i:before {
    transition: .3s;
  }

  .rf_bg_form .px-4.py-5>.row>.col div a {
    padding: 15px !important;
  }

  .rf_texto,
  .nav-link {
    color: var(--cinza) !important;
  }

  .rf_texto_a {
    color: var(--branco) !important;
  }

  .rf_texto {
    font-style: normal;
    color: #2A2B3F !important;
    font-size: 18px;
  }

  .rf_texto_desk {
    font-style: normal;
    color: #2A2B3F !important;
    font-size: 14px;
  }

  .rf_texto_btn {
    font-style: normal;
    color: #fff !important;
    font-size: 24px;
  }
  .rf_texto_btn_desk {
    font-style: normal;
    color: #fff !important;
    font-size: 14px;
  }

  .rf_texto_tabela {
    font-style: normal;
    color: #B92E2E !important;
    font-size: 24px;
  }

  .rf_bg_form {
    border: #2A2B3F solid 1px;
  }

  .footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
  }

  .card-icon {
    text-align: center;
    width: 200px;
  }

  .card-kit {
    width: 300px;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    border-radius: 10px;
    background: #fff;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }

  .nav-vendas {
    background: #B92E2E;
    color: #fff;
  }

  .modal-vendas {
    --bs-modal-bg: #f5f5f9 !important;
  }

  .card-vendas {
    margin-top: 10px;
    ;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  }
  .txt-table-vendas{
    margin: 20px;
    font-size: 24px;
    color: #fff;
    background: none;
    border: none;
  }
  .card-texto-vendas-ouro{
    font-size: 30px;
    color:  #DBB000;
    margin-left: 10px;
   
  }
  .card-texto-vendas-prata{
    font-size: 30px;
    color: #2A2B3F;
    margin-left: 10px;
  }
  .card-texto-vendas-bronze{
    font-size: 30px;
    color:  #CD7F32;
    margin-left: 10px;
  }
  .card-texto-vendas-customizado{
    font-size: 30px;
    color: #B92E2E;
    margin-left: 10px;
  }
  .card-ouro {
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    /* border: solid; */
    /* border-color: #DBB000; */
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  }
  .card-ouro_index {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: solid;
    border-color: #DBB000; 
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  }

  .card-prata {
    margin-top: 10px;

    padding-bottom: 20px;
    border-radius: 10px;
    /* border: solid;
    border-color: #9E9D99; */
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  }
  .card-prata_index {
    margin-top: 10px;   
    margin-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: solid;
    border-color: #9E9D99; 
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  }

  .card-bronze {
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    /* border: solid;
    border-color: #CD7F32; */
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  }
  .card-bronze_index {
    margin-top: 10px;   
    margin-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: solid;
    border-color: #CD7F32; 
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  }
  .card-customizado {
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    /* padding-left: 10px;
    border-radius: 10px; */
    /* border: solid; */
    /* border-color: #B92E2E; */
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  }
  .card-customizado_index {
    margin-top: 10px;
    
    margin-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-radius: 10px;
    border: solid;
    border-color: #B92E2E;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  }
  .txt-card-valor{
    margin-top: 50px;
    font-size: 24px;
  }
  .valor-card-ouro{
    font-size: 40px;
    color:  #DBB000;
  }
  .valor-card-prata{
    font-size: 40px;
    color: #2A2B3F;
  }
  .valor-card-bronze{
    font-size: 40px;
    color:  #CD7F32;
  }
  .valor-card-customizado{
    font-size: 40px;
    color: #B92E2E;
  }

  .btn-card-ouro {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    /* Tamanho do ícone */
    color:  #DBB000;
    /* Cor do ícone */
  }
  .btn-card-prata {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    /* Tamanho do ícone */
    color: #2A2B3F;
    /* Cor do ícone */
  }
  .btn-card-bronze {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    /* Tamanho do ícone */
    color:  #CD7F32;
    /* Cor do ícone */
  }
  .btn-card-customizado {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    /* Tamanho do ícone */
    color: #B92E2E;
    /* Cor do ícone */
  }

  .btn-kits-ouro {
    width: auto;
    border: solid;
    border-color:  #DBB000;
  }
  .btn-kits-prata {
    width: auto;
    border: solid;
    border-color: #9E9D99;
  }
  .btn-kits-bronze {
    width: auto;
    border: solid;
    border-color:  #CD7F32;
  }
  .btn-kits-customizado {
    width: auto;
    border: solid;
    border-color: #B92E2E;
  }

  .nav-item i {
    vertical-align: middle;
    /* Alinha verticalmente o ícone com o texto */
  }
  .table-linha{
    vertical-align: middle;
  }
  ul.pagination {
    margin-top: 40px;
  }
  ul.pagination li a {
    background: #fff;
      color: #B92E2E;
      border: 1px solid #2A2B3F;
  }

  ul.pagination li.disabled a {
      background: #B92E2E;
      color:  #fff;
  }
  .dropdown-menu li {
    white-space: nowrap;
    /* Impede a quebra de texto */
    overflow: hidden;
    /* Oculta o texto que ultrapassa a largura do elemento */
    text-overflow: ellipsis;
    /* Adiciona "..." ao final do texto que ultrapassa a largura */
  }
  .form-check .form-check-label, .card-header, .form-floating .form-control.rf_bg_form.rf_texto  {
    color: #1b1b1b!important;
  }

  .row-highlight-red {
    --bs-table-bg: #f17474 !important;
    --bs-table-color: #fff !important;
  }
  .row-highlight-yellow {
    --bs-table-bg: #ffeeba !important;
  }

  .table-working {
    --bs-table-bg: #68cdfc !important; 
    
  }
  .bg-info-msg{
    background-color: #fff;
    color: #2A2B3F;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  /* table td , table td .btn:disabled {
    background-color: var(--branco);
    color: var(--escuro);
  } */
  .btn-desk-filtro{
    background: #B92E2E;
    border-color: transparent;
    color: #fff;
    width: 100%;
    padding-bottom: 13px;     

  }
  .btn-desk-customizado{
    background: #B92E2E;
    border-color: transparent;
    color: #fff;
    width: 100%;
    font-size: 10px;
   

  }
  .btn-desk-filtro-vendas{
    background: #B92E2E;
    border-color: transparent;
    color: #fff;
  
   

  }
  .btn-desk-filtro:hover {
    background: #922020; /* Mantém a cor de fundo original */
    color: #fff;
  }
  .btn-desk-filtro:active {
    background: #922020; /* Mantém a cor de fundo original quando clicado */
  }
  .btn-desk-filtro-disabled{
    background: #B92E2E;
    border-color: transparent;
    color: #fff;
    width: 100%;
    padding-bottom: 13px;   
    opacity: .5;
    pointer-events: none; /* Desabilitar eventos de clique */
    cursor: not-allowed; /* Mudar cursor */

  }

  .card-desk-menu{
    background: #B92E2E;
    border-color: transparent;
    color: #fff;
    font-size: 24px;
    height: 60px;
    padding-top: 10px;
    padding-left: 10px;


  }

  table td button.btn-desk {
    background: none;
    border: none;
    font-size: 20px; /* Tamanho do ícone */
    color: #2A2B3F; /* Cor do ícone */
  }
  
  table td button.btn-desk:disabled {
    opacity: .3;
    pointer-events: none; /* Desabilitar eventos de clique */
    cursor: not-allowed; /* Mudar cursor */
  }
  
  table  tr.cor_atendimento_apos_45min {
    --bs-table-bg: #ffdf7e !important;    
  }
  table tr.cor_venda_finalizada {
    --bs-table-bg: #8fd19e !important;
  }
  table tr.cor_venda_perdida {
    --bs-table-bg: #ff5f5f !important;
  }
  .desk-footer{
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap)* .5);
    background-color: var(--bs-modal-footer-bg);
    border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
    margin-right: 20px;
  }
  .custom-highlight-row {
    --bs-table-bg: pink;
  }
  .btn-entre-data{
    height: 58px;
  }
  .box-conversao{
    border: solid 1px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .text-info{
    color: #2A2B3F !important;
    font-size: 15px;
  }

  /*Situação Geral*/
  .card-desk-rel-geral-novo {
    margin-top: 10px;
    margin-left: 5px; 
    border-radius:10px 10px 0 0;
    border: solid 1px;
    border-color: #ccc;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  .card-desk-rel-geral-usado {
    margin-top: 10px;
    margin-right: 5px; 
    border-radius:10px 10px 0 0;
    border: solid 1px;
    border-color: #ccc;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  .card-desk-rel {
    margin-top: 10px; 
    border-radius:10px 10px 0 0;
    border: solid 1px;
    border-color: #ccc;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  .card-desk-titulo{
    border-radius:10px 10px 0 0;
    background-color: #fff;
    color: #2A2B3F !important;
    padding: 10px;
  }
  .card-desk-passagem{
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
  }
  .card-desk-atendimento{
    background-color: #6C757D;
    color: #fff;
    padding: 10px;
  }
  .card-desk-finalizado{
    background-color: #28A745;
    color: #fff;
    padding: 10px;
  }
  .card-desk-perdido{
    background-color: #B92E2E;
    color: #fff;
    padding: 10px;
  }
  .texto-titulo-desk {
    font-size: 24px !important;
    color: #2A2B3F !important;
  }
  .rf_texto_desk_rel {
    font-style: normal;
    color: #2A2B3F !important;
    font-size: 13px;
  }
  .barra_fei{
    background-color: #B92E2E;
  
  }
  /**Impressão Menu*/
  .barra_fei_menu_ouro{
    background-color: #DBB000; 
      
    display: flex;
    justify-content: space-between;
  }
  .barra_fei_menu_ouro .texto_centralizado {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }

  .barra_fei_menu_prata{
    background-color: #9E9D99;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  .barra_fei_menu_prata .texto_centralizado {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }

  .barra_fei_menu_bronze{
    background-color: #CD7F32;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  .barra_fei_menu_bronze .texto_centralizado {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
  .barra_fei_menu_customizado{
    background-color: #B92E2E;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  .barra_fei_menu_customizado .texto_centralizado {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 26px;
  }

  .sp_icon{
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 12px;
  }
  .esquerda {
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
    font-style: italic;
  }

  .direita {
      text-align: right;      
      padding-right: 20px;
  }
  .rodape{
    display: flex;
    justify-content: space-between;
  }
  .tachado{
    text-decoration: line-through;
  }
  .texto_tachado{
    font-size: 12px;
  }
  .texto_oferta{
    font-size: 14px;
    font-style: italic;
  }
  .economia{
    border: solid 1px ;
  }
  .texto_pacotes{
    font-size: 18px;

  }
  .economia{ 
    height: 150px;
    width: 150px;
    /* Impede que a imagem de fundo se repita */
  }
  .texto-sobre-imagem {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #1b1b1b; /* Cor do texto */
    font-size: 15px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    z-index: 1;
  }
  .rf_assinatura {
    border-top: solid;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .texto_cartao{
    font-size: 26px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }

  .icone_filtro_menu {
    font-size: 20px  ;
    color: #B92E2E ;
  }
  .texto_filtro_menu {
    font-size: 18px ;
    color: #2A2B3F !important;
    padding-left: 20px;
  }  
  .rf_texto_menu {
    font-style: normal;
    color: #2A2B3F !important;
    font-size: 12px;
    text-transform: uppercase;
  }
  .rf_texto_menu_titulo {
    font-style: normal;
    color: #2A2B3F !important;
    font-size: 12px;
    
  }
  .rf_bg_form_menu {
    border: #2A2B3F solid 1px ;
    border-radius: 8px;
    margin-left: 2px;
    margin-right: 2px;
    height: 40px;
  }
  .btn-customizado{
    margin-top: 15px;;
    height: 250px;
    font-size: 36px;
  }
  .divisoria_ouro_acessorio{
    border: solid 3px #DBB000;
    border-radius: 10px;
    margin-left: 20px;
    padding-right: 0;
    padding-left: 0;
  }
  .divisoria_ouro_revisao{
    border: solid 3px #DBB000;
    border-radius: 10px;
    margin-left: 5px;
    padding-right: 0;
    padding-left: 0;
  }
  .divisoria_ouro_seguros{
    border: solid 3px #DBB000;
    border-radius: 10px;
    margin-left: 5px;
    padding-right: 0;
    padding-left: 0;
  }
  .divisoria_ouro_info{
    border: solid 3px #DBB000;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 20px;
    padding-right: 0;
    padding-left: 0;
    
  }

  .divisoria_prata_acessorio{
    border: solid 3px #9E9D99;

    border-radius: 10px;
    margin-left: 20px;
    padding-right: 0;
    padding-left: 0;
  }
  .divisoria_prata_revisao{
    border: solid 3px #9E9D99;
    border-radius: 10px;
    margin-left: 5px;
    padding-right: 0;
    padding-left: 0;
  }
  .divisoria_prata_seguros{
    border: solid 3px #9E9D99;
    border-radius: 10px;
    margin-left: 5px;
    padding-right: 0;
    padding-left: 0;
  }
  .divisoria_prata_info{
    border: solid 3px  #9E9D99;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 20px;
    padding-right: 0;
    padding-left: 0;
    
  }

  .divisoria_bronze_acessorio{
    border: solid 3px  #CD7F32;

    border-radius: 10px;
    margin-left: 20px;
    padding-right: 0;
    padding-left: 0;
  }
  .divisoria_bronze_revisao{
    border: solid 3px  #CD7F32;
    border-radius: 10px;
    margin-left: 5px;
    padding-right: 0;
    padding-left: 0;
  }
  .divisoria_bronze_seguros{
    border: solid 3px  #CD7F32;
    border-radius: 10px;
    margin-left: 5px;
    padding-right: 0;
    padding-left: 0;
  }
  .divisoria_bronze_info{
    border: solid 3px   #CD7F32;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 20px;
    padding-right: 0;
    padding-left: 0;
    
  }

  .divisoria_customizado_acessorio{
    border: solid 3px  #B92E2E;

    border-radius: 10px;
    margin-left: 20px;
    padding-right: 0;
    padding-left: 0;
  }
  .divisoria_customizado_revisao{
    border: solid 3px  #B92E2E;
    border-radius: 10px;
    margin-left: 5px;
    padding-right: 0;
    padding-left: 0;
  }
  .divisoria_customizado_seguros{
    border: solid 3px #B92E2E;
    border-radius: 10px;
    margin-left: 5px;
    padding-right: 0;
    padding-left: 0;
  }
  .divisoria_customizado_info{
    border: solid 3px   #B92E2E;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 20px;
    padding-right: 0;
    padding-left: 0;
    
  }

  /* Menu desk*/
  .card-desk {
    margin-top: 10px;    
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  }
  .icone_filtro_desk {
    font-size: 20px  ;
    color: #B92E2E ;
  }
  .texto_filtro_desk {
    font-size: 18px ;
    color: #2A2B3F !important;
    padding-left: 10px;
  } 
  .rf_bg_form_menu_desk {
    border: #2A2B3F solid 1px ;
    border-radius: 8px;
    margin-left: 2px;
    margin-right: 2px;
    height: 45px;
  }
  .rf_texto_menu_titulo_desk {
    font-style: normal;
    color: #2A2B3F !important;
    font-size: 14px; 
    font-weight: bold;   
  }
  .rf_texto_menu_desk {
    font-style: normal;
    color: #2A2B3F !important;
    font-size: 12px;
    text-transform: uppercase;
  }
  .divisoria_desk{
    border: solid 3px  #B92E2E;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0;
    padding-left: 0;
  }
  .divisoria_desk2{
    border: solid 3px  #B92E2E;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 0;
    padding-left: 0;
  }
  .barra_fei_menu_desk{
    background-color: #B92E2E;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  .barra_fei_menu_desk .texto_centralizado {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 26px;
  }
  .texto_menu_ent_desk {
    font-style: normal;
    color: #2A2B3F !important;
    font-size: 14px; 
    font-weight: bold;  
    padding-left: 10px; 
  }

  /* Dispositivos móveis */
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* Seu estilo para dispositivos móveis */
}

/* iPads, tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Seu estilo para iPads e tablets */
}

/* Telas pequenas, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Seu estilo para telas pequenas e laptops */
  .texto{
    font-size: 14px !important;

  }
  .texto_filtro {
    font-size: 18px !important;
    color: #2A2B3F !important;
    padding-left: 20px;
  }
  .rf_texto,
  .nav-link {
    color: var(--cinza) !important;
  }

  .rf_texto_a {
    color: var(--branco) !important;
  }

  .rf_texto {
    font-style: normal;
    color: #2A2B3F !important;
    font-size: 12px;
  }

  .rf_texto_desk {
    font-style: normal;
    color: #2A2B3F !important;
    font-size: 12px;
  }

  .rf_texto_btn {
    font-style: normal;
    color: #fff !important;
    font-size: 16px;
  }
  .rf_texto_btn_desk {
    font-style: normal;
    color: #fff !important;
    font-size: 12px;
  }

  .rf_texto_tabela {
    font-style: normal;
    color: #B92E2E !important;
    font-size: 18px;
  }

}

/* Desktops, telas grandes */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  /* Seu estilo para desktops e telas grandes */
}

/* Telas muito grandes, TVs */
@media screen and (min-width: 1201px) {
  /* Seu estilo para telas muito grandes e TVs */
}
