/*@import url('http://127.0.0.1/beni/light.css');*/
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
	font-family: 'Ubuntu', sans-serif;
} */

.rf_texto_pdf{
    font-size: 11px;
}

:root {
	--escuro: #131313;
	--cinza: #565656;
	--vermelho: #d32f2f;
	--vermelhoC: #ff5f5f;
	--branco: #fff;
	--fundo: #fdfdfd;
	--degrade: radial-gradient(circle, rgb(255 106 106) 36%, rgba(211,47,47,1) 100%);
}
.rf_texto, .nav-link {
	color: var(--cinza)!important;
}
.rf_texto_a{
	color: var(--branco)!important;
}
input, select {
	box-shadow: 0 15px 10px -10px rgb(0 0 0 / 3%);
    margin: 5px;
    border: 1px solid #aaa!important;
}
body #app .rf_background {
    overflow-x: hidden;	
    background-color: #fff!important;    
}
body.bg-dark {
	background: var(--branco)!important;
}
body #app .bg-dark {
    background-color: var(--branco)!important;
}
.rf_background[data-v-4c7f493a] {
	background: unset!important;
}
body #app .navbar.bg-dark{
	background-color: var(--branco)!important;
}
.rf_texto i {
	font-style: normal;
	color: #1b1b1b;
}
span[style="color: aliceblue;"] {
	display: none;
}
.form-floating>label {
	/* color: #1b1b1b!important; */
}


.table>:not(caption)>*>* {
	font-size: 14px;
}
.table>tbody 


.rf_background > div > .card.rf_bg_form {
	background-color: none!important;
    background-color: unset!important;
    border: 0;	
    padding-left: 12px;
    padding-right: 12px;
}
.rf_bg_form .px-4.py-5 {
	padding: 0!important;
	max-width: unset;
}
.rf_bg_form .px-4.py-5 > .row {
    padding: 0!important;
    gap: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.rf_bg_form .px-4.py-5 > .row > .col {
	background-color: var(--branco);
	width: unset;
	border-radius: 8px;
	padding: 0;
	filter: drop-shadow(0px 10px 20px rgb(0 0 0 / 5%));
    border: 0;	
    transition: .3s;
    margin-top: 20px;
	box-shadow: 0 15px 10px -10px rgb(0 0 0 / 10%);        
}
.rf_bg_form .px-4.py-5 > .row > .col h3 a i:before {
	font-size: 42px;
	color: var(--vermelho);
}
.rf_bg_form .px-4.py-5 > .row > .col h3 a i {
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 20px;
    gap: 15px;
	flex-direction: column; 
}
.rf_bg_form .px-4.py-5 > .row > .col div {
	width: 100%;
}
.rf_bg_form .px-4.py-5 > .row > .col:hover {
    background: var(--branco);
}
.rf_bg_form .px-4.py-5 > .row > .col h3 a i:before {
	transition: .3s;
}
.rf_bg_form .px-4.py-5 > .row > .col div a {
	padding: 15px!important;
}
footer ul.border-bottom.pb-3 {
	border-color: var(--branco)!important;
}

nav.navbar.rf_texto div i {
display: inline-flex;
    align-items: center;
    gap: 20px;
    color: #1b1b1b;
    font-weight: 400;
}
nav.navbar.rf_texto div i:before {
	color: unset;
}
.btn-secondary {
    background: var(--vermelhoC);
    border-color: transparent;
    color: var(--branco);
}

/* .form-floating input, .form-floating select, .form-select {
    background-color: var(--branco)!important;
    color: var(--cinza)!important;
    outline: 0;
    border: 0;
	filter: drop-shadow(0px 10px 20px rgb(0 0 0 / 5%));    
} */
.form-floating input:focus, .form-floating select:focus {
	/* box-shadow: none;
	border: 0;
	filter: brightness(1.8); */
}
ul.pagination {
	margin-top: 40px;
}
ul.pagination li a {
	background: var(--branco);
    color: var(--vermelho);
    border: 1px solid #ddd;
}
ul.pagination li a:hover {

}
ul.pagination li.disabled a {
    background: var(--vermelhoC);
    color: var(--branco);
}
.card.rf_bg_form {
	background-color: var(--branco)!important;
	padding: 8px;
}
.row.g-2.p-2 {
	padding: 2px!important;
}
body:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('https://beehavemarketing.com.br/oda/bg.png');
    background-size: cover;
    opacity: .18;
    filter: grayscale(1) blur(5px);
}
.table>:not(caption)>*>* {
	border-color: #ddd!important;
}
.rf_background .navbar.rf_bg_form.rf_texto.mt-4 {
	background-color: var(--branco)!important;
}
body #app .card.bg-dark.rf_texto.text-center {
	background: var(--branco)!important;
}
.card.rf_bg_form .card.bg-dark.rf_texto .card-body h5 {
    font-size: 44px;
    font-weight: 600;	
}
.card.rf_bg_form .card.bg-dark.rf_texto .card-body p {
	margin-bottom: 0;
}
.card.rf_bg_form.mt-4.p-2 .card-title {
    font-size: 44px;
    font-weight: 600;
}
.card.shadow-sm.text-center.rf_texto.rf_border {
	margin-top: 20px;
}
.navbar.navbar-expand-lg.rf_bg_form.rf_texto {
    background-color: var(--branco)!important;
    border-radius: 6px;
    border: 1px solid #d2d2d2;
}

table .cor_atendimento_apos_45min {
	background-color: #ffdf7e;
}
table .cor_venda_finalizada {
	background-color: #8fd19e;
}
table .cor_venda_perdida {
	background-color: var(--vermelhoC);
}
table td .btn-secondary, table td .btn:disabled {
	background-color: var(--branco);
	color: var(--escuro);
}
table td .btn:disabled {
	opacity: .3;
	border-color: var(--branco);
}
.table>:not(caption)>*>* {
	border-color: var(--branco);
    vertical-align: middle;	
    background-color: transparent!important;    
}

.bg-success {
    background-color: #8fd19e!important;	
}
.bg-danger {
	background-color: var(--vermelhoC)!important;
}


.d-flex.justify-content-between.mb-1 .p-2.rf_texto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px 30px;	
}
#tabela_conversao button[data-bs-target="#ModalConversao"] {
	margin-left: 10px;
}

.card.shadow-sm.text-center.rf_texto.rf_border .card-body {
	color: var(--branco);
}
.nav.nav-item.justify-content-end.rf_texto {
	justify-content: start!important;
}


nav.navbar ul.navbar-nav li {
	margin-right: 10px;
}
nav.navbar ul.navbar-nav li button {
    border: 0;
    background: linear-gradient(90deg, rgba(185,46,46,1) 0%, rgba(239,93,93,1) 100%);
    margin-top: 6px;
    border-radius: 5px;
}
button[type=submit], button[type=button] {
    border: 0;
    background: linear-gradient(90deg, rgba(185,46,46,1) 0%, rgba(239,93,93,1) 100%);
    border-radius: 5px;
    font-size: 18px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu, button.btn.btn-secondary.btn-block.mt-2 {
    border: 0;
    background: linear-gradient(90deg, rgba(185,46,46,1) 0%, rgba(239,93,93,1) 100%);
    margin-top: 6px;
    border-radius: 5px;
}
span.rf_texto {
	color: #1b1b1b!important;
}
.form-check .form-check-label, .card-header, .form-floating .form-control.rf_bg_form.rf_texto  {
	color: #1b1b1b!important;
}
.card-body.bg-success {
	background-color: #28a745!important;
}
.card-body.bg-primary {
	background-color: #007bff!important;
}
.card-body.bg-secondary {
	background-color: #6c757d!important;
}
.card-body.bg-danger {
	background-color: #dc3545!important;
}
.card.shadow-sm.text-center.rf_texto.rf_border {
	box-shadow: unset!important;
}
.card.shadow-sm.text-center.rf_texto.rf_border .card-body {
	margin-bottom: 20px;
}
#navbarNavDarkDropdown ul.navbar-nav li a {
	color: #fff!important;
}
#rf_profile ul.nav li a {
	color: #1b1b1b!important;
}
label[data-v-c4247486] {
	color: #1b1b1b!important;
}
div label.text-info {
	color: #1b1b1b!important;
}
.card-container.card[data-v-c4247486] {
	border: 1px solid #eee;
}
form[data-v-c4247486] button[data-v-c4247486] {
    border: 0;
    background: linear-gradient(90deg, rgba(185,46,46,1) 0%, rgba(239,93,93,1) 100%);
    border-radius: 5px;
}
div[data-v-f14c8d80].container-fluid.rf_background .rf_bg_form {
	background-color: unset!important;
}
.rf_card_profile {
	position: relative;
}
.rf_card_profile strong {
	color: #1b1b1b;
}
.rf_card, .rf_card_profile {
	background-color: unset!important;
	border: 1px solid #d2d2d2;
	border-radius: 8px;
}
select.form-select.rf_bg_form.rf_texto {
	
}
select option {
	/* color: #1b1b1b!important; */
}
div[data-v-f14c8d80].container-fluid.rf_background .modal-content.rf_bg_form {
	background-color: #fff!important;
	padding: 20px;
}
.modal-header h1.rf_texto {
	color: #1b1b1b!important;
	margin: 0;
}
.nav-link.rf_texto.active {
	color: #1b1b1b!important;
}
nav.rf_header {
	background-color: var(vermelhoC);
}
.modal-header .btn-close:before {
    content: 'X';
    color: #fff;
    display: block;
    margin-top: -5px;
}
.modal-header .btn-close {
	position: relative;
	opacity: 1;
}
#Modal_Mensagem {
    background: rgb(0 0 0 / 50%);	
}
#Modal_Mensagem .modal-header.bg-dark.rf_border {
	justify-content: center;	
}
#Modal_Mensagem .modal-body.bg-secondary.text-center {
	background-color: #eee!important;	
    border-radius: 8px;	
}
#Modal_Mensagem .modal-body.bg-secondary.text-center p.fs-6.fw-bold {
	margin-bottom: 0;
}
.card.rf_bg_form .card-header.bg-dark.rf_texto.text-center.mt-2 {
	color: #1b1b1b!important;
}
h1.modal-title {
    margin-top: 0;
    color: #1b1b1b;	
}

.form-floating .rf_form_control.rf_texto.rf_titulo_fonte {
	color: #1b1b1b!important;
}
nav.navbar ul.nav.justify-content-end li.nav-item a.rf_texto.disabled {
    padding-left: 0;
    margin-left: -13px;
}
nav.navbar.navbar-expand-lg.rf_bg_form.rf_texto.rf_container {
    border: 0;
    background: linear-gradient(90deg, rgba(185,46,46,1) 0%, rgba(239,93,93,1) 100%);
    margin-top: 6px;
    border-radius: 5px;	
}

nav.navbar.navbar-expand-lg.rf_bg_form.rf_texto.rf_container i {
	color: #fff;
}
nav.navbar.navbar-expand-lg.rf_bg_form.rf_texto.rf_container .nav-link.rf_texto.active {
	color: #fff!important;
}



/*# Classes Particulares */

.dd_login {
    margin-top: 10%;
}

.btn_login {
    background-color: #FE2434;
    color: #fff;
}

/* .btn_login_light {
    --bs-btn-color: #ffff;
    --bs-btn-bg: #f5365c;
    --bs-btn-border-color: #f5365c;
     --bs-btn-hover-color: #837575; 
    --bs-btn-hover-bg: #FE2434;
    --bs-btn-hover-border-color: #f64a6c;
    --bs-btn-focus-shadow-rgb: 208, 46, 78;
    --bs-btn-active-color: #ffff;
    --bs-btn-active-bg: #d32f2f;
    --bs-btn-active-border-color: #f64a6c;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f5365c;
    --bs-btn-disabled-border-color: #f5365c;

} */

.btn_menu {
    margin-top: 25px;
    margin-left: 10px;

}

.btn_menu_color_light {
    background-color: #FE2434;
    color: #fff;
}

.btn_login_dark {
    background-color: #252837;
    color: #fff;
}
.header_light{
    background-color: #FAFAFA;
}
.header_dark{
    background-color: #47494D;
}

.rf_margin{
	margin-top: 25px;
}

.table-success {
    background-color: #c3e6cb; /* verde */
    background: linear-gradient(90deg, #9effb5 0%, #c3e6cb 100%);
  }
  
  .table-warning {
    /* background-color: #ffbf00; amarelo */
    background: linear-gradient(90deg, #ffeeba 0%, rgb(255, 243, 206) 100%);
  }
  .table-working {
    background-color: #00aeff; /* amarelo */
    background: linear-gradient(90deg, #4fc7ff 0%, #b4e7ff 100%);
  }

  .btn-atendimento {
    background: #a1a0a0 !important;
    border-color: transparent;
    color: var(--branco) !important;
}
.box-atendimento{
    background: linear-gradient(90deg, rgba(185,46,46,1) 0%, rgba(239,93,93,1) 100%);
    color: #fff !important;
}
.label-proposta{
    background-color: #00aeff !important;
    
}
.input-proposta{
    background-color: #ffffff;
    box-shadow: 0 15px 10px -10px rgb(0 0 0 / 3%);
    margin: 5px;
    border: 1px solid #ffffff!important;
}
.input-desc{
    background-color: #ffffff;
    box-shadow: 0 15px 10px -10px rgb(0 0 0 / 3%);
    margin: 5px;
    border: 3px solid #acacac!important;
}
.custom-highlight-row {
    background-color: pink;
  }
  .status-red {
    color:red;
  }
  .status-green {
    color: green;
  }
  .font-pdf-menu{
    font-size: x-small !important;
    
  }
  .rf_card_pdf{
    margin: 10px;
   
  }
  .rf_card_header{
    background-color: #ced4da !important;
    
  }
  .row-highlight-red {
    background: linear-gradient(90deg, rgb(248, 125, 125) 0%, rgb(247, 157, 157) 100%);
    color: #fff !important;
  }
  .row-highlight-yellow {
    background: linear-gradient(90deg, #ffeeba 0%, rgb(255, 243, 206) 100%);
  }
  .rf_assinatura {
    border-top: solid;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .card-menu{
    height: 180px !important;
  }

  /* Novo Layout */
  .dd-fonte-navgator{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900 !important;     
  }
  .dd-fonte-navgator-dashboard{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900 !important;  
    color: #fff !important;   
  }