.rf_margin{
  margin-top: 1.65rem;
}

.card_avaliacao{
  overflow: auto;
  height: 200px;
}
.card_compra{
  overflow: auto;
  height: 305px;

}
.rf_header{
  background-color: #780000;
}
.rf_titulo_fonte {
  text-align: right;
  font-size: large;
}
.rf_back{
  background-color: rgb(55, 65, 75) !important;

}
.rf_back_text{
  color: black;
}
.rf_form_control{
  display: block;
    width: 100%;    
    margin-bottom: 0;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: transparent;
    border: solid transparent;
    border-width: var(--bs-border-width) 0;

}

.custom-highlight-row {
  background-color: pink;
}

.rf_container_menu{  
  height: 130px;
  overflow-y: scroll;
}
.rf_card_header{
  background-color: #ced4da !important;
  
}

.rf_assinatura {
  border-top: solid;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.table-success {
  background-color: #c3e6cb; 
}

.table-warning {
  background-color: #ffeeba; 
}
.table-working {
  background-color: #00aeff; 
}
.rf_texto_pdf{
  font-size: 12px;
}
.rf_card_pdf{
  margin: 10px;
 
}

.rf_btn{
  margin: 1px;
}


 /**
Paginação
*/
#paginate{
  width: 100%;
  margin: 32px auto;
}

#paginate .pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
#paginate .pagination div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
#paginate .pagination div:not(.numbers),
#paginate .pagination div.numbers div{
  width: 40px;
  height: 40px;
}
#paginate .pagination div.numbers div:hover,
#paginate .pagination div.numbers div.acttive
{
  color: var(--primary);
}


.rf_container {
  margin-top: 0.5rem;
}
.rf_margin{
  margin-top: 1.65rem;
}
.rf_card {
  background-color: rgb(52, 58, 64) !important;
  color: #fff;
  height: 350px;
}
.rf_card_profile {
  background-color: rgb(52, 58, 64) !important;
  color: #fff;
  height: 300px;
} 

 /* .rf_texto {
  --bs-text-opacity: 1;
  color: #fff !important;
}  */

 /* .rf_bg_form {
  background-color:#960808;
}  */

.card_usuario {
  overflow: auto;
  height: 500px;
}
.card_avaliacao{
  overflow: auto;
  height: 200px;
}
.card_compra{
  overflow: auto;
  height: 305px;

}
.rf_header{
  background-color: #780000;
}
.rf_titulo_fonte {
  text-align: right;
  font-size: large;
}
.rf_back{
  background-color: rgb(55, 65, 75) !important;

}
.rf_back_text{
  color: black;
}
.rf_form_control{
  display: block;
    width: 100%;    
    margin-bottom: 0;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: transparent;
    border: solid transparent;
    border-width: var(--bs-border-width) 0;

}
.layout {
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 12px;
}

.layout_btn {
  padding-bottom: 10px;
  padding-right: 12px;
}

.cor_atendimento_apos_45min {
  background-color: rgb(236, 181, 77);
  color: black !important;
}
.cor_atendimento {
  background-color: rgb(80, 126, 80);
  color: black !important;
}
.cor_aguardando_atendimento {
  background-color: #752b00;
  color: rgb(255, 255, 255) !important;
}
.cor_venda_finalizada {
  background-color: rgb(0, 165, 82);
  color: black !important;
}
.cor_venda_perdida {
  background-color: #ff0000;
  color: rgb(255, 255, 255) !important;
  
}
.custom-highlight-row {
  background-color: pink;
}
.rf_border{
  border: none !important;
}
.rf_container_menu{  
  height: 130px;
  overflow-y: scroll;
}
.rf_card_header{
  background-color: #ced4da !important;
  
}
.rf_header_table{
  font-size: 0.7rem;
}
.rf_assinatura {
  border-top: solid;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.status-red {
  color:red;
}
.status-green {
  color: green;
}
.table-success {
  background-color: #c3e6cb; /* verde */
}

.table-warning {
  background-color: #ffeeba; /* amarelo */
}
.table-working {
  background-color: #00aeff; /* amarelo */
}
/* .rf_texto_pdf{
  font-size: 12px;
} */
.rf_card_pdf{
  margin: 10px;
 
}
.btn.active {
  background-color: #007bff !important;
  color: #fff;
  /* outros estilos personalizados */
}
.scrollable-list {
  max-height: 72px; /* Ajuste essa altura conforme necessário */
  overflow-y: auto;
}
.rf_btn{
  margin: 1px;
}
